[DATASET]
directory = /home/input/data/WAND-bids
acquisition = AxCaliberConcat
# Select a subset of subjects by separating them with commas
# Select all of them by setting the value to all or deleting the line
subject = 00395, 01187

[TEMPLATE]
directory = /home/input/data/mni_icbm152_nlin_sym_09a
T1 = mni_icbm152_t1_tal_nlin_sym_09a.nii
T2 = mni_icbm152_t2_tal_nlin_sym_09a.nii
mask = mni_icbm152_t1_tal_nlin_sym_09a_mask.nii

[ROIS]
directory = /home/input/data/rois

[OUTPUT]
cache = /home/input/diffusion_pipelines_cache/
derivatives = /home/input/data/WAND-bids/derivatives/

# The pipelines to run
[PIPELINE]
# You can choose to run either of the preprocessing and reconstruction pipeline or both
preprocessing = True
reconstruction = False
# If tractography is set to True, the pipeline will run the both preprocessing and reconstruction steps anyway
tractography = False

# Set number of threads to use for the pipeline
[MULTIPROCESSING]
n_jobs = 30